.App {
  text-align: center;
}
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -200px;
  transition: left 0.3s ease-in-out;
}

.visible {
  left: 0;
}

.hidden {
  left: -200px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 40px; 
}
.sidebar-button {
  width: 110%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Make the container full height of the viewport */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
